*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Public Sans';
}

.column img{
    width: 335px;
    height: 432px;
}

.container{
    display: flex;
    width: 1440px;
    height: 689px;
    flex-wrap: wrap;
}
.column{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 335px;
    height: 432px;
    position: relative;
}
.text{
    position: absolute;
    top:80%;
    margin-left: 1rem;
    color: white;
}
.text h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0.3rem;
}
.text p{
    font-size: 17px;
    font-weight: 300;
}

@media(max-width:425px){
    .container{
        flex-wrap: wrap;
    }
    .column{
        width: 100%;
    }
}